li{
    display: inline-block;
    margin: 20px;

}

*{
    margin-top:0px;
    margin-left: 0px;
}

nav{
    background: slategrey;    
    text-align:center;
}

a{
    color:white;
    text-decoration: none;
}

