@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background: #24437C;

}

header ul{
    float: right;
}

nav .nav-brand{
    margin:40px 0px 0px 40px;
}

header .nav-primary li{
    display: inline-block;
    padding: 10px;

}
header nav ul li a{
    text-decoration:none;
    color: #fff;
    text-transform: capitalize;
}

.cta-btn{
    border: 1px solid #000;
    border-radius:10px;
    background-color:#3DC1EF;
    margin-right: 40px;
}

.header-title{
    text-align:center;
    padding-top: 150px;
    margin:0;
    color: #fff;
    font-size: 50px;
    text-transform:capitalize;

}

.header-subtitle{
    text-align:center;
    color:#5084A2;
    margin-bottom: 50px; 
    text-transform:capitalize;
}


#button-container{
    text-align:center;
    cursor:pointer;
}

#button-container .header-btn{
    padding: 10px;
    color: #fff;
    text-transform: capitalize;
    
}

.header-services{
    padding: 0px;
    text-align:center;

}

.header-services .service-title{
    width: 250px;
    color:#fff;
    margin:0px;
}

.service{
    width:400px;
    display:inline-block;
    padding: 30px;    
}

.service:hover{
    background-color:#3DC1EF;
    cursor:pointer;
}

.header-services .service-intro{
    color: #fff;
    width: 250px;
    text-align:left;
}

.service-intro .service-link{
    color: #fff;
    text-decoration:none;
    display:block;
    padding-top:15px;
}


