@import url('reset.css');
@import url('gallery.css');

html {
    font-size: 21px;
}

.site {
    max-width: 60em;
    margin: 0 auto;
}

.hero {
    background-position: center;
    background-size: cover;
    background-image: url('../images/bike.jpg');
    color: #fff;
    min-height: 40vh;
}

.hero h1 {  
    padding: 20vh 5vw;
    text-align: right;
}
